@font-face{
    font-family:'TradeGothic';
    src:url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwenty.eot) format('embedded-opentype'),
        url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwenty.woff) format('woff'),
        url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwenty.ttf) format('truetype'),
        url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwenty.svg) format('svg')
}

@font-face{
    font-family:'TradeGothicOb';
    src:url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwentyObl.eot) format('embedded-opentype'),
        url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwentyObl.woff) format('woff'),
        url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwentyObl.ttf) format('truetype'),
        url(../fonts/TradeGothciLT/TradeGothicLT-BoldCondTwentyObl.svg) format('svg')
}

@font-face{
    font-family:'FranklinGothicBook';
    src:url(../fonts/FranklinGothicBook/FranklinGothic-BookItalic.eot) format('embedded-opentype'),
        url(../fonts/FranklinGothicBook/FranklinGothic-BookItalic.woff) format('woff'),
        url(../fonts/FranklinGothicBook/FranklinGothic-BookItalic.ttf) format('truetype'),
        url(../fonts/FranklinGothicBook/FranklinGothic-BookItalic.svg) format('svg')
}










html, body{
    margin: 0;

    overflow-x: hidden;




}

paper-toolbar{
    height: 100px;

}

.slider{
    height: 100%;
}

.socialHub{
    height: 150%;
    background-image: url(../imgs/layerShub.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.footer{

    background-color: #ff0016 ;
    height: 100px;
    width: 100%;

}


.menu{
    width: 100%;
    font-size: 1.5em;
    font-family: 'TradeGothic';

}


.menu img{
    width: 135px;
    position: absolute;
    top: -6%



}

.menu ul{
    list-style: none;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;


}

.menu li{
    display: inline-block;
    padding-right: 5%;


}

#links{
    width: 10%;
    position: absolute;
    right: 5%;

}

#links li{
    padding-right: 17%;
}

#links img{
    width: 35px;

}

.slider img{
    width: 15%;
    height: 100%;
    position: absolute;
    display: block;
}

.slider2 img{
    width: 20%;
    height: 100%;
    position: absolute;
    display: block;
}



.slider1 img{

}

.titre{
    font-family:'TradeGothicOb';
    font-size: 2em;
    width: 50%;
    left: 25%;
    text-align: center;
    color: white;
    position: absolute;

}

.titreSp{
    font-size: 0.5em;
}



.slider2{
    font-family:'FranklinGothicBook';

}

.kit1 h1{

    position: relative;
    color: white;
    font-size: 3.5em;
    width: 100%;
    text-align: center;


}

.kit1 h3{
    font-family: 'TradeGothicOb';
    position: relative;
    color: white;
    font-size: 1.8em;
    width: 35%;
    left: 55%;
    top: 30%;


}


.kit2 h3{
    font-family: 'TradeGothicOb';
    position: relative;
    color: white;
    font-size: 1.8em;
    width: 30%;
    top: 40%;
    left: 15%;

}

.footer img{
    float: right;
    display: block;
    height: 100%;
}

.footer p{
    font-family: 'Arial';
    width: 85%;
    font-size: 0.7em;
    float: left;
    color: white;
    font-weight: 100;
    position: absolute;
    line-height: 1.3em;
    bottom: 0%;
    left: 2%;
}













